
@import url('https://fonts.googleapis.com/css?family=Doppio+One');

*{ padding: 0; margin: 0; border: 0; }

.container {
  width: 900px;
  font-family: 'Doppio One', sans-serif;
  font-size: 16px;
  background: rgb(116,140,171);
  color: #fff;
}

.row {
  display: flex;
  }

.row .block {
  flex-grow: 1;
}

#header  {
  display: flex;
  background-image: linear-gradient(to bottom,
   rgb(131,151,185), rgb(90,112,137));
 border: 2px rgb(51, 102, 153) solid;
}
.header-text {
  padding: 10px;
}

.block {
  padding: 10px;
  border: 2px rgb(51, 102, 153) solid;
}

.block-label { font-size: 12px; }
.block-title {
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  line-height: 30px;
  margin-top: 6px;
}




  .material-icons {
    position: relative;
    top: -45px;
    left: 135px;
   color: rgb(183,232,238);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.block-label { font-size: 12px; }
.block-title {
  font-family: 'Doppio One', sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin-top: 6px;
}
.block-title span {
  color: rgb(183,232,238);
}
.icon {
  position: relative;
  /* Adjust these values accordingly */
  top:-45px;
  left: 135px;
  display: inline-block;
  background: rgb(183,232,238);
  width: 20px;
  height: 10px;
  }

.planet-view-image {
  width: 900px;
}

#current-time {
  font-family: 'Doppio One', sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0px;

 display: flex;
  background-image: linear-gradient(to bottom,
   rgb(131,151,185), rgb(90,112,137));
 border: 2px rgb(51, 102, 153) solid;
}

.small { font-size: 12px; }

.time-large { 
    font-size: 55px;

    }

.chart-image { 
    display: flex;

    }



font-family: 'Doppio One', sans-serif;